body {
  max-height:300px;
  background: black url('https://psv4.vk.me/c404231/u45077609/docs/4618d31d0ff9/12494__65439__9661__65439___28151__20081.gif?extra=b_Isu9-lLUZHEY-l6ZPISwrIgJWZ_BFmPLkRF8CL7kvUFgdu4ghfW6N-p-kErnEKFHQhOGqC4rIlyHn49zKbCIQhdjAR5xLDOK_lUcEvXAKKheKbjOkv_z6QHdU') no-repeat left bottom;
}
.container-red-btn {
  margin:50% auto;
}
.red-btn-around {
  background:gray;
  width:200px;
  height:190px;
  border-radius:50%;
  margin:auto;
  border: 25px outset gray;

}
#red-btn {
  display:block;
  background: #ee0000;
  font-size:2em;
  border-radius: 50%;
  border: 10px outset  red ;
  height:inherit;
  width:inherit;
  color: white;
  font-style: "Verdana", sans-sarif;
  margin:auto;
}
#red-btn:hover{
  cursor:pointer;
}
#red-btn:active {
  border: 10px inset darkred;
  background: #ee0000;
  color: lightgray;
}
